
.list-container h2{
    margin-left: 50px;
    font-weight: 500;
    color: black;
    padding-top: 10px;
}
.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    margin-left: 150px;
}
.card {
    flex: 0 0 auto;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar{
	height: 5px;
	width: 2px;
}

::-webkit-scrollbar-thumb{
	background: #ddd;
	border-radius: 20px;
}

