<mat-toolbar *ngIf = "!isSearchActive" class = "toolbar">
    <a (click) = "changeActiveRoute('home')" [routerLink] = "['/browse']"><img src="./../../assets/Images/Vibe_logo_white.svg"  width = "100" height = "50" alt=""></a>
    <a (click) = "changeActiveRoute('home')" mat-button [routerLink] = "['/browse']"  [ngClass]="{'active': activeRoute === 'home'}">Home</a>
    <a (click) = "changeActiveRoute('movie')" mat-button [ngClass]="{'active': activeRoute === 'movie'}" [routerLink] = "['/browse']" [queryParams] = "{category: 'movie'}" >Movies</a>
    <a (click) = "changeActiveRoute('tv')" mat-button [ngClass]="{'active': activeRoute === 'tv'}" [routerLink] = "['/browse']" [queryParams] = "{category: 'tv'}">Tv Shows</a>
    <div class="fill-remaining-space"></div>
    <button mat-button [matMenuTriggerFor]="addMenu"><mat-icon>add</mat-icon></button>
    <button mat-button (click) = "changeActiveSerach()"><mat-icon class = "search-icon">search</mat-icon></button>
    <a (click) = "changeActiveRoute('library')" [ngClass] = "{'active': activeRoute === 'library'}" mat-button routerLink = "library"><mat-icon>video_library</mat-icon></a>
    <button mat-button [matMenuTriggerFor]="languageMenu" class = "lang-selector"><span class="nav-icon">{{activeLanguage}}</span></button>
    <button *ngIf = "!photoUrl" mat-button (click) = "onAccoutClick()"><mat-icon class = "nav-icon">account_circle</mat-icon></button>
    <button *ngIf = "photoUrl" mat-button (click) = "onAccoutClick()"><img class = "avatar" width = "40" height = "40" [src]="photoUrl"></button>
</mat-toolbar>

<mat-menu #languageMenu="matMenu" class = "customize">
    <ng-container *ngFor = "let lang of languageOptions; let i = index">
    <button mat-menu-item (click) = "onLanguageChange(i)">{{lang}}</button>
    </ng-container>
</mat-menu>

<mat-menu #addMenu="matMenu" class = "customize">
    <button mat-menu-item (click) = "addMovie()">Add Movie</button>
    <button mat-menu-item (click) = "addTvShow()">Add Tv Show</button>
</mat-menu>

<mat-toolbar *ngIf = "isSearchActive" class = "toolbar">
    <input #searchBar (input) = "search(searchBar.value)" class = "search-bar" placeholder="search movies and tv shows" type="text">
    <button (click) = "changeActiveSerach()" mat-icon-button><mat-icon>clear</mat-icon></button>
</mat-toolbar>



